@using BOL
@{
    ViewBag.Title = "DisPlay";
}

<h2>DisPlay</h2>

@{
    List<Student> std = ViewData["Student"] as List<Student>;
    foreach (Student s in std)
    {
        <p><i><b><u>@s.Name</u></b></i></p>
        <p><i><b><u>@s.Phone</u></b></i></p>
        <p><i><b><u>@s.Email</u></b></i></p>
    }
}